*,
html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
}

.logo img {
    width: 45px;
    margin: 5px 10px;
    display: inline-flex;
}

.navbar {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    background-color: white;
}

ul {
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}

li {
    float: left;
}

li a {
    width: 80px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    color: #008BDE;
    background-color: white;
}

li a:hover {
    background-color: #008BDE;
    color: white;
    transition: .3s ease-in-out;
}

.banner img {
    width: 100%;
}

.row {
    margin-top: -80px;
    display: flex;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.col h1,
p {
    margin-bottom: 40px;
    background-color: #008BDE;
    color: white;
}

.row .col {
    padding: 20px;
}

.col {
    background-color: #008BDE;
    margin: 10px;
    border-radius: 30px;
    transition: transform .2s;
}

.col:hover {
    transform: scale(1.1);
}

.button {
    padding: 10px;
    background-color: #008BDE;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: #008BDE;
    transition: .3s ease-in-out;
}

.row-message {
    margin-top: 20px;
    display: flex;
}

.col-message {
    margin-left: 200px;
    padding: 20px;
}

.col-message h1 {
    margin-bottom: 15px;
    color: #008BDE;
}

.col-message p {
    background-color: white;
    color: #008BDE;
    text-align: justify;
}

.col-message img {
    width: 250px;
    margin-left: -200px;
    margin-right: 200px;
    border-radius: 15px;
}

.row-visi {
    align-items: center;
    padding: 30px;
    display: flex;
    background-color: #008BDE;
}

.col-visi {
    background-color: #008BDE;
    text-align: center;
}

.col-visi h1 {
    padding-bottom: 20px;
    color: white;
    background-color: #008BDE;
    text-align: center;
}

.col-misi {
    background-color: #008BDE;
    text-align: center;
}

.col-misi h1 {
    padding-bottom: 20px;
    color: white;
    background-color: #008BDE;
    text-align: center;
}

.teacher h1 {
    color: #008BDE;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.row-teacher {
    justify-content: center;
    display: flex;
}

.col-teacher {
    margin-top: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    transition: transform .2s;
}

.col-teacher:hover {
    transform: scale(1.1);
}

.col-teacher img {
    width: 120px;
    border-radius: 15px;
}

.col-teacher p {
    padding-top: 10px;
    text-align: center;
    width: 120px;
    background-color: white;
    color: #008BDE;
    font-weight: bold;
}


.activity h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #008BDE;
    margin-top: 40px;
}

.row-activity {
    justify-content: center;
    display: flex;
}

.col-activity {
    margin: 3px;
    padding: 5px;
    margin-top: 20px;
    width: 300px;
    transition: transform .2s;
}

.col-activity:hover {
    transform: scale(1.1);
}

.col-activity img {
    width: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.col-activity p {
    text-align: center;
    background-color: #008BDE;
    color: white;
    padding: 20px;
    margin-top: -3px;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.kontak {
    color: #008BDE;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.form-kontak {
    width: 100%;
    border: none;
    border-bottom: 2px solid #008BDE;
    outline: none;
}

.row-form {
    margin: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.col-form h3 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #008BDE;
}

.col-form,
.form-kontak h3 {
    margin: 10px;
    text-align: end;
}

.btn-kirim {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    padding-left: 46%;
    padding-right: 46%;
    background-color: white;
    color: #008BDE;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.btn-kirim:hover {
    cursor: pointer;
    background-color: #008BDE;
    color: white;
    transition: .3s ease-in-out;
}

.footer {
    margin-top: 100px;
}

.footer p {
    text-align: center;
    margin: 0;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #008BDE;
    color: white;
    margin-top: 30px;
}